
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f8f8f8;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: rgb(209, 23, 23);
  text-align: center;
  margin: 25px 0px;
}

.levels p {
  background-color: rgb(100, 20, 175);
  color: white;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.level0,
.level1,
.level2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-right: 2px solid black;
  height: 250px;
  width: 300px;
}
.level-0-btn,
.level-1-btn,
.level-2-btn {
  background-color: rgb(54, 47, 189);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  height: 250px;
  width: 35px;
  align-items: center;
  padding: 15px;
}
i{
  font-size: 25px;
  background: none;
  padding: 4px;
}

button {
  font-size: 23px;
  outline: none;
  border: 0px;
  border-radius: 4px;
  color: rgb(38, 38, 38);
  background-blend-mode: multiply;
  cursor: pointer;
}
button:focus {
  background-color: green;
  color: white;
  transition: all 0.75ms ease-in-out;
}
.elevator {
  width: 250px;
  height: 200px;
  background-color: transparent;
  margin: 10px;
}
img{
   background-color: transparent;
    width: 250px;
    height: 190px;
}
#Elevator_text{
    background-color: transparent;
}